<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bibliotheque</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <mapping package="com.bibliotheque.modele.entities"/>
        <mapping class="com.bibliotheque.modele.entities.Usager" />
        <mapping class="com.bibliotheque.modele.entities.Livre" />
        <mapping class="com.bibliotheque.modele.entities.Ouvrage" />
        <mapping class="com.bibliotheque.modele.entities.Emprunt" />
        <mapping class="com.bibliotheque.modele.entities.TypeUser" />
    </session-factory>
</hibernate-configuration>